@model List<Boat>
@{
    ViewData["Title"] = "Prochaine fermeture";
}

<div class="text-center">
  <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table-responsive">
            <tbody>
                <tr>
                    <th>Nom du bateau</th>
                    <th>Date de fermeture</th>
                    <th>Date de réouverture</th>
                </tr>
                @foreach (var boat in Model)
                {
                    <tr>
                        <td>@boat.BoatName</td>
                        <td>@boat.ClosingDate</td>
                        <td>@boat.ReopeningDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
